<footer class="footer">
    <div class="footer-body">
      <div class="footer-column">
        <div class="column-1">
          <div class="column-line">
            <div class="column-line-1">
              <h4>
                8 800 5008597<br />
                YVES_SAINT_LAURENT@GMAIL.COM
              </h4>
            </div>
            <div class="column-line-2">
              <h4>&copy;&nbsp;2021 YSL Beauté. All Rights Reserved</h4>
            </div>
          </div>
        </div>
        <div class="column-2"></div>
        <div class="column-3">
          <div class="column-line">
            <div class="column-line-3">
              <div class="icon-line-3">
                <img
                  src="https://img.icons8.com/ios/40/ffffff/facebook--v1.png"
                />
                <img
                  src="https://img.icons8.com/ios/40/ffffff/twitter-squared.png"
                />
                <img
                  src="https://img.icons8.com/ios/40/ffffff/instagram-new--v1.png"
                />
                <img
                  src="https://img.icons8.com/ios/40/ffffff/youtube-squared.png"
                />
              </div>
            </div>
            <div class="column-line-4">
              <h4>Website by GAVLONSKYA</h4>
            </div>
          </div>
        </div>
      </div>
    </div>