.footer {
    width: 100%;
    padding-top: 4%;
    background: white;
  }
  .footer-body {
    width: calc(100% - 5%);
    height: 40%;
    position: relative;
    margin: 0 auto;
    background: rgb(15, 15, 15);
    margin-bottom: 2%;
  }
  .footer-column {
    height: 100%;
    width: 100%;
    display: flex;
  }
  .column-1 {
    width: 40%;
    height: 100%;
  }
  .column-line {
    width: 100%;
    display: block;
  }
  .column-line-1 {
    width: 100%;
    height: 50%;
  }
  .column-line-1 h4 {
    text-align: left;
    margin: 10% 0pt 0pt 17%;
    font: 12pt 'Arial';
    color: white;
    letter-spacing: 2px;
    line-height: 1.9;
  }
  .column-line-2 {
    width: 100%;
    margin-bottom: 3%;
  }
  .column-line-2 h4 {
    text-align: left;
    margin: 2.5% 0pt 0pt 17%;
    font: 9pt 'Arial';
    color: rgb(194, 194, 194);
    letter-spacing: 2px;
  }
  .column-2 {
    width: 20%;
    height: 100%;
  }
  .column-line-3 {
    width: 100%;
    height: 30%;
  }
  .icon-line-3 {
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(4, 12%);
    justify-items: center;
    margin-top: 8%;
    margin-left: 10%;
  }
  .column-line-4 {
    width: 100%;
   
  }
  .column-line-4 h4 {
    justify-items: center;
    font: 9pt 'Arial';
    color: rgb(194, 194, 194);
    letter-spacing: 2px;
    margin-left: 83px;
    margin-top: 45px;
  }
  .column-3 {
    width: 40%;
    height: 100%;
  }