  <div class="icon">
    <div class="icon-img">
      <img class="perfume-img" src="{{card.img}}"alt="Парфюм">
    </div>
    <div class="perfume-info">
      <div class="title">{{card.title}}</div>
      <div class="section">{{card.section}}</div>
      <div class="price">{{card.price}}</div>
      <div class="button">
        <button class="detail">{{card.detail}}</button>
        <button class="buy"(click)="addToCart()" *ngIf = "!card.buy">Купить</button>
      </div>
    </div>
  </div>