<nav class="menu">
    <a href="/pages/history.html">ИСТОРИЯ</a>
    <a>АРОМАТЫ</a>
    <a href="/pages/stock.html">АКЦИИ</a>
    <a href="/pages/program.html">ПРОГРАММА ЛОЯЛЬНОСТИ</a>
   <form class="search">
      <input type="search" placeholder="Искать здесь..." > 
     </form>
    <div class="basket">
      <a class="basket-link" href="#popup"
        ><img
          class="basket-img"
          src="https://i.pinimg.com/564x/ea/bc/62/eabc62ca9a760cbb80ff61ecfd642589.jpg"
          width="50"
          id="menu-basket"
          onclick="open_basket();"
      /></a>
    </div>
  </nav>