.menu {
    flex-direction: row;
    font: 11pt 'Arial';
    display: flex;
    justify-content: center;
    color: black;
  }
  nav img {
    margin: -12pt 0pt 0pt 0pt;
  }
  nav a,
  nav li {
    display: flex;
    margin-bottom: 3%;
    color: black;
    margin-right: 5%;
  }
  nav a:link,
  nav a:visited {
    color: black;
    text-decoration: none;
    transition-duration: 1s;
  }
  nav a:active,
  nav a:hover {
    color: black;
    text-decoration: none;
    transform: scale(1.2, 1.2) translateY(4px);
    transition-duration: 0.5s;
  }
  .search{
    margin: 0pt 30pt 0pt 0pt;
  }
  .basket-img{
    width:50px;
  }