<div id="basket">
      <div class="popup-body">
        <div class="popup-content">
          <a
            class="popup-close"
            id="popup-close"
            onclick="basketService.closeBasket()">х
          </a>
          <div class="popup-title">Ваш заказ:</div>
          <div *ngIf="cartData.length else emptyTemplate" class="popup-list">
              <ng-container *ngFor="let product of cartData">
            <ul>
                <li class="popup-name">{{product.title}}</li>
                <span class="popup-price">{{product.price}}</span>
              </ul>
              </ng-container>
          </div>
          <button class="checkout">Заказать</button>
        </div>
      </div>
    </div>
    <ng-template #emptyTemplate><p class="emptyTitle">Ваша корзина пуста</p></ng-template>