<div id="basket">
      <div class="popup-body">
        <div class="popup-content">
          <a
            href="#"
            class="popup-close"
            id="popup-close"
            onclick="_basket()">х
          </a>
          <div class="popup-title">Ваш заказ:</div>
          <div *ngIf="cartData.length else emptyTemplate" class="popup-list">
              <ul>
                <li class="popup-name"></li>
                <span class="popup-price"></span>
              </ul>
          </div>
          <a href="#" class="popup-close" onclick="_basket()"></a>
          <button class="checkout">Заказать</button>
        </div>
      </div>
    </div>
    <ng-template #emptyTemplate><p class="emptyTitle">Ваша корзина пуста</p></ng-template>