* {
    padding: 0;
    margin: 0;
  }
  body {
    width: 100%;
    margin:0;
  }
  
.png {
    text-align: center;
    margin: 40pt 0pt 40pt 0pt;
  }
  h3 {
    margin: 3% 20%;
    text-align: center;
    justify-content: space-between;
    font: 15pt 'Franklin Gothic Medium';
    color: rgb(59, 59, 59);
  }
  .shop {
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(3, 34%);
    justify-items: center;
    margin: 5% 10%;
  }
  